.active {
    background-color: #006699;
    padding: 12px;
}
.container {
    padding: 12px;
    border: 2px;
}
.container li {
    background-color: bisque;
}
.container:hover {
    background-color: #3399ff;
}