/* CSS for the dropdown menu */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    background-color: black;

}

.selected-option {
    margin-top: 10px;
}
button {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  